
body {
    margin: 0;
    
}

header {
    display: flex;
    justify-content: center;

    background-color: red;
}

#titre {
    color: white;
    font-size: 50px;
    font-weight: bold;
}



#button {
    display: flex;
    justify-content: center;
}

